{% extends "blog/base.html" %}

{% block title %}Add comment{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="comment-form-container">
            <form method="post" class="comment-form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-submit">Add Comment</button>
            </form>
        </div>
    {% else %}
        <p class="login-prompt">
            <a href="{% url 'login' %}">Log in</a> to comment.
        </p>
    {% endif %}
{% endblock %}
