{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="edit-post-container">
        <h1 style='color: #0d1b2a;'>Log In</h1>
        {% if form.errors %}
            <p class="date">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form action="" method="post" class="edit-post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log In" class="btn-submit">
        </form>
    </div>
{% endblock content %}