{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
   <div class="post-header">
    <h2 style='padding: 10px;'>Post</h2>

    <!-- Search form -->
    <form method="get" action="{% url 'posts_by_search' %}" class="search-form">
        <input type="text" name="q" placeholder="Search posts..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>
   </div>

   {% for post in posts %}
      <div class="post-container">
         <div class="post-image">
            <img src="{{ post.image.url }}" onerror="this.onerror=null; this.src='https://res.cloudinary.com/dicksylbb/image/upload/v1755180745/post_images/default_splnws.jpg';" alt="Post image">
         </div>
         <div class="post-details" style='padding: 20px;'>
            <h2>
                  <a href="{{ post.get_absolute_url }}">
                     {{ post.title }}
                  </a>
            </h2>

            <p class="tags">
                  <span class="tags-label">Tags:</span>
                  {% for tag in post.tags.all %}
                     <a href="{% url "post_list_by_tag" tag.slug %}">
                        {{ tag.name }}
                     </a>
                     {% if not forloop.last %}, {% endif %}
                  {% endfor %}
            </p>

            <p class="date">
                  Published {{ post.published_date }} by {{ post.author }}
            </p>

            <div class="post-body">
                  {{ post.content|truncatewords:30|linebreaks }}
            </div>
         </div>
      </div>
   {% empty %}
      <p>No posts yet.</p>
   {% endfor %}
   
   {% if user.is_authenticated %}
      <section class="hero" style="text-align: center; padding: 20px 20px;">
      <a href="{% url 'post_new' %}" class="btn-primary" style="margin-left:15px;">Share Your Thoughts</a>
      </section>
   {% else %}
      <section class="hero" style="text-align: center; padding: 20px 20px;">
      <a href="{% url 'login' %}" class="btn-primary" style="margin-left:15px;">Share Your Thoughts</a>
      </section>
   {% endif %}

{% endblock content %}