{% extends "blog/base.html" %}

{% block content %}
<div class="profile-container">
    <h2>My Profile</h2>
    
    {% if user.is_authenticated %}
        <p class="auth-info">You are logged in as <strong>{{ user }}</strong>.</p>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Log Out</button>
        </form>
    {% else %}
        <p class="auth-info">You are not logged in. 
            <a href="{% url 'login' %}" class="login-link">Click here to log in.</a>
        </p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn-save">Update Profile</button>
    </form>

    {% if user.profile.profile_picture %}
        <div class="profile-picture">
            <img src="{{ user.profile.profile_pics.url }}" alt="Profile Picture">
        </div>
    {% endif %}
</div>
{% endblock content %}
