{% extends "blog/base.html" %}


{% block title %}Add comment{% endblock %}

{% block content %}
    <!--
    <form action="{% url "post_comment" post.pk %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
    -->
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Add Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to comment.</p>
    {% endif %}
{% endblock %}