{% extends "blog/base.html" %}
{% load static %}

{% block title %}Contact Developer{% endblock %}

{% block content %}
<div class="contact-container">
    <div class="contact-image">
        <img src="{% static 'images/profile.png' %}" alt="Developer image">
    </div>

    <div class="contact-details">
        <h1 class="contact-title">Vohiro's Brief Profile</h1>
        <p class="contact-bio">
            Versatile and performance-driven Database Administrator and Backend Engineer with 2+ years of experience 
            building reliable backend systems and managing mission-critical databases. Skilled in designing RESTful APIs, 
            optimizing database performance, and developing scalable, secure web applications. Proficient in SQL, Python 
            (Flask/Django), and PostgreSQL/MySQL, with strong experience in data modeling, query tuning, and automation 
            using scripting. Known for delivering clean, efficient backend code and supporting data-driven business 
            operations across cross-functional teams.
        </p>

        <div class="contact-links">
            <a href="https://www.linkedin.com/in/vohiro-david-59992a177" target="_blank" class="btn-linkedin">LinkedIn</a>
            <a href="https://www.github.com/Vohiro" target="_blank" class="btn-github">GitHub</a>
        </div>

        <div class="contact-info">
            <p style='color: blue;'><strong>📞 Phone:</strong> +234 810 018 4259</p>
            <p style='color: blue;'><strong>📧 Email:</strong> <a href="mailto:Dvohiro@gmail.com">Dvohiro@gmail.com</a></p>
        </div>
    </div>
</div>
{% endblock %}
