{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <h2>Post Page</h2>
    {% for post in posts %}
      <h2>
         <a href="{{ post.get_absolute_url }}">
         {{ post.title }}
         </a>
      </h2>
      <p class="date">
         Published {{ post.published_date }} by {{ post.author }}
      </p>
      {{ post.body|truncatewords:30|linebreaks }}
   {% empty %}
      <p>No posts yet.</p>
   {% endfor %}
   <!-- <a href="{% url 'post_new' %}">+ New Post</a> -->
    <form action="{% url 'post_new' %}" method="post">
            {% csrf_token %}
            <button type="submit">New Post</button>
    </form>
{% endblock content %}